<!DOCTYPE html>
<html ng-app="seehub">
<head lang="en">
    <meta charset="UTF-8">
    <title>SeeHub</title>
    <script src="http_ajax.googleapis.com_ajax_libs_angularjs_1.5.0_angular.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="app.js"></script>
    <script src="https://rawgit.com/tpreusse/radar-chart-d3/master/src/radar-chart.js"></script>
    <style>.radar-chart .area {
        fill-opacity: 0.3;
    }
    .radar-chart.focus .area {
        fill-opacity: 0.3;
    }
    .radar-chart.focus .area.focused {
        fill-opacity: 0.9;
    }</style>
</head>
<body ng-controller="mainController">
<form>
    <input ng-model="username"  type="text" value="hom3chuk" />
    <button ng-click="load()">Click</button>
</form>

<div>{{ status }}</div>
<div class="chart-container"></div>
<pre>{{ result | json }}</pre>
</body>
</html>